[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "geex"]
	path = geex
	url = https://github.com/bsaul/geex
[submodule "inferference"]
	path = inferference
	url = https://github.com/bsaul/inferference
